<div class="popular-search_area">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="popular-search">
               <label>Popular Search:</label>
               <a href="javascript:void(0)">Brakes & Rotors,</a>
               <a href="javascript:void(0)">Lighting,</a>
               <a href="javascript:void(0)">Perfomance,</a>
               <a href="javascript:void(0)">Wheels & Tires</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Popular Search Area End Here -->
<div class="uren-slider_area">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="main-slider slider-navigation_style-2">
               <!-- Begin Single Slide Area -->
               <div class="single-slide animation-style-01 bg-1">
                  <%=image_tag "slide-img1.jpg", alt: "Uren's Featured Categories"%>
                  <div class="slider-content">
                     <span>New thinking new possibilities</span>
                     <h3>Car interior</h3>
                     <h4>Starting at <span>$99.00</span></h4>
                     <div class="uren-btn-ps_left slide-btn">
                        <a class="uren-btn" href="shop-left-sidebar.html">Read More</a>
                     </div>
                  </div>
               </div>
               <!-- Single Slide Area End Here -->
               <!-- Begin Single Slide Area -->
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Begin Uren's Shipping Area -->
<div class="uren-shipping_area">
   <div class="container-fluid">
      <div class="shipping-nav">
         <div class="row no-gutters">
            <div class="shipping-grid">
               <div class="shipping-item">
                  <div class="shipping-icon">
                     <i class="ion-ios-paperplane-outline"></i>
                  </div>
                  <div class="shipping-content">
                     <h6>Free Shipping</h6>
                     <p>Free shipping on all US order</p>
                  </div>
               </div>
            </div>
            <div class="shipping-grid">
               <div class="shipping-item">
                  <div class="shipping-icon">
                     <i class="ion-ios-help-outline"></i>
                  </div>
                  <div class="shipping-content">
                     <h6>Support 24/7</h6>
                     <p>Contact us 24 hours a day</p>
                  </div>
               </div>
            </div>
            <div class="shipping-grid">
               <div class="shipping-item">
                  <div class="shipping-icon">
                     <i class="ion-ios-refresh-empty"></i>
                  </div>
                  <div class="shipping-content">
                     <h6>100% Money Back</h6>
                     <p>You have 30 days to Return</p>
                  </div>
               </div>
            </div>
            <div class="shipping-grid">
               <div class="shipping-item">
                  <div class="shipping-icon">
                     <i class="ion-ios-undo-outline"></i>
                  </div>
                  <div class="shipping-content">
                     <h6>90 Days Return</h6>
                     <p>If goods have problems</p>
                  </div>
               </div>
            </div>
            <div class="shipping-grid">
               <div class="shipping-item">
                  <div class="shipping-icon">
                     <i class="ion-ios-locked-outline"></i>
                  </div>
                  <div class="shipping-content last-child">
                     <h6>Payment Secure</h6>
                     <p>We ensure secure payment</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Uren's Shipping Area End Here -->
<!-- Begin Featured Categories Area -->
<div class="featured-categories_area">
<div class="container-fluid">
   <div class="section-title_area">
      <span>Top Featured Collections</span>
      <h3>Featured Categories</h3>
   </div>
   <div class="row">
      <div class="col-lg-3">
         <div class="featured-categories_slider">
            <div class="slide-item">
               <div class="slide-inner">
                  <div class="slide-image_area">
                     <a href="shop-left-sidebar.html">
                     <%=image_tag "images.jpeg", alt: "Uren's Featured Categories"%>
                     </a>
                  </div>
                  <div class="slide-content_area">
                     <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                     <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                     <div class="price-box"><span class="regular-price"><span class="price">$900000.00</span> </span> </div>
                     <div class="col-km"><i class="fa fa-tachometer"></i> 4875km</div>
                     <div class="col-engine"><i class="fa fa-gear"></i> Automatic</div>
                     <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2018</div>
                     <div class="uren-btn-ps_left">
                        <a class="uren-btn" href="shop-left-sidebar.html">SHOP NOW</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3">
         <div class="featured-categories_slider">
            <div class="slide-item">
               <div class="slide-inner">
                  <div class="slide-image_area">
                     <a href="shop-left-sidebar.html">
                     <%=image_tag "download.jpeg", alt: "Uren's Featured Categories"%>
                     </a>
                  </div>
                  <div class="slide-content_area">
                     <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                     <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                     <div class="price-box"><span class="regular-price"><span class="price">$89000.00</span> </span> </div>
                     <div class="col-km"><i class="fa fa-tachometer"></i> 4875km</div>
                     <div class="col-engine"><i class="fa fa-gear"></i> Automatic</div>
                     <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2018</div>
                     <div class="uren-btn-ps_left">
                        <a class="uren-btn" href="shop-left-sidebar.html">SHOP NOW</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3">
         <div class="featured-categories_slider">
            <div class="slide-item">
               <div class="slide-inner">
                  <div class="slide-image_area">
                     <a href="shop-left-sidebar.html">
                     <%=image_tag "download (1).jpeg", alt: "Uren's Featured Categories"%>
                     </a>
                  </div>
                  <div class="slide-content_area">
                     <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                     <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                     <div class="price-box"><span class="regular-price"><span class="price">$780000.00</span> </span> </div>
                     <div class="col-km"><i class="fa fa-tachometer"></i> 4875km</div>
                     <div class="col-engine"><i class="fa fa-gear"></i> Automatic</div>
                     <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2018</div>
                     <div class="uren-btn-ps_left">
                        <a class="uren-btn" href="shop-left-sidebar.html">SHOP NOW</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-3">
         <div class="featured-categories_slider">
            <div class="slide-item">
               <div class="slide-inner">
                  <div class="slide-image_area">
                     <a href="shop-left-sidebar.html">
                     <%=image_tag "images (1).jpeg", alt: "Uren's Featured Categories"%>
                     </a>
                  </div>
                  <div class="slide-content_area">
                     <div class="item-title"><a href="accessories-detail.html" title="Retis lapen casen">Gorgeous Mercedes-Benz E-Class All-Terrain Luxury</a> </div>
                     <p class="rating-links"><a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#">Add Review</a> </p>
                     <div class="price-box"><span class="regular-price"><span class="price">$49000.00</span> </span> </div>
                     <div class="col-km"><i class="fa fa-tachometer"></i> 4875km</div>
                     <div class="col-engine"><i class="fa fa-gear"></i> Automatic</div>
                     <div class="col-date"><i class="fa fa-calendar" aria-hidden="true"></i> 2018</div>
                     <div class="uren-btn-ps_left">
                        <a class="uren-btn" href="shop-left-sidebar.html">SHOP NOW</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- -->
<!-- Featured Categories Area End Here -->
<!-- Begin Uren's Banner Area -->
<div class="uren-banner_area ">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-6">
            <div class="banner-item img-hover_effect">
               <div class="banner-img-1"></div>
               <div class="banner-content">
                  <span class="offer">Get 20% off your order</span>
                  <h4>Car and Truck</h4>
                  <h3>Mercedes Benz</h3>
                  <p>Explore and immerse in exciting 360 content with
                     Fulldive’s all-in-one virtual reality platform
                  </p>
                  <div class="uren-btn-ps_left">
                     <a class="uren-btn" href="shop-left-sidebar.html">Shop Now</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-6">
            <div class="banner-item img-hover_effect">
               <div class="banner-img-1 banner-img-2"> </div>
               <div class="banner-content">
                  <span class="offer">Save $120 when you buy</span>
                  <h4>Rotiform SFO </h4>
                  <h3>Custom Forged</h3>
                  <p>Explore and immerse in exciting 360 content with
                     Fulldive’s all-in-one virtual reality platform
                  </p>
                  <div class="uren-btn-ps_left">
                     <a class="uren-btn" href="shop-left-sidebar.html">Shop Now</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Uren's Banner Area End Here -->
<!-- Begin Uren's Banner Two Area -->
<div class="uren-banner_area uren-banner_area-2">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="banner-item img-hover_effect">
               <a href="shop-left-sidebar.html">
               <%=image_tag "photo-1566347238843-0782a8526e49.jpeg", alt:"Uren's Banner"%>
               </a>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="banner-item img-hover_effect">
               <a href="shop-left-sidebar.html">
               <%=image_tag "photo-1503376780353-7e6692767b70.jpeg", alt:"Uren's Banner"%>
               </a>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="banner-item img-hover_effect">
               <a href="shop-left-sidebar.html">
               <%=image_tag "photo-1494976388531-d1058494cdd8.jpeg", alt:"Uren's Banner"%>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Uren's Banner Two Area End Here -->
<!-- Begin Uren's Product Area -->
<div class="uren-product_area">
   <div class="container-fluid">
     <div class="section-title_area">
        <span>Top New On This Week</span>
        <h3>New Arrivals Products</h3>
     </div>
      <div class="row">
            <div class="col-lg-4">
            <div class="product-slider uren-slick-slider">
              <div class="product-slide_item">
                                <div class="inner-slide">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                              <%=image_tag  "seltos-exterior-right-front-three-quarter-2.webp", alt: "Uren's Product Image"%>
                                            </a>
                                            <div class="sticker-area-2">
                                                <span class="sticker-2">-40%</span>
                                                <span class="sticker">New</span>
                                            </div>
                                            <div class="add-actions">
                                                <ul>
                                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                    </li>
                                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                    </li>
                                                    <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                            class="ion-android-options"></i></a>
                                                    </li>
                                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                            class="ion-android-open"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-desc_info">
                                                <div class="rating-box">
                                                    <ul>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                        <li class="silver-color"><i class="ion-android-star"></i></li>
                                                    </ul>
                                                </div>
                                                <h6><a class="product-name" href="single-product.html">Kia Seltos</a></h6>
                                                <div class="price-box">
                                                    <span class="new-price new-price-2">$194.00</span>
                                                    <span class="old-price">$241.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  </div>
               </div>
               <div class="col-lg-4">
               <div class="product-slider uren-slick-slider">
                 <div class="product-slide_item">
                                   <div class="inner-slide">
                                       <div class="single-product">
                                           <div class="product-img">
                                               <a href="single-product.html">
                                                 <%=image_tag  "tata-nexon-right-front-three-quarter3.webp", alt: "Uren's Product Image"%>
                                               </a>
                                               <div class="sticker-area-2">
                                                   <span class="sticker-2">-20%</span>
                                                   <span class="sticker">New</span>
                                               </div>
                                               <div class="add-actions">
                                                   <ul>
                                                       <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                       </li>
                                                       <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                       </li>
                                                       <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                               class="ion-android-options"></i></a>
                                                       </li>
                                                       <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                               class="ion-android-open"></i></a></li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="product-content">
                                               <div class="product-desc_info">
                                                   <div class="rating-box">
                                                       <ul>
                                                           <li><i class="ion-android-star"></i></li>
                                                           <li><i class="ion-android-star"></i></li>
                                                           <li><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                           <li class="silver-color"><i class="ion-android-star"></i></li>
                                                       </ul>
                                                   </div>
                                                   <h6><a class="product-name" href="single-product.html">Tata Nexon</a></h6>
                                                   <div class="price-box">
                                                       <span class="new-price new-price-2">$194.00</span>
                                                       <span class="old-price">$241.00</span>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                  <div class="product-slider uren-slick-slider">
                    <div class="product-slide_item">
                                      <div class="inner-slide">
                                          <div class="single-product">
                                              <div class="product-img">
                                                  <a href="single-product.html">
                                                    <%=image_tag  "images (4).jpeg", alt: "Uren's Product Image"%>
                                                  </a>
                                                  <div class="sticker-area-2">
                                                      <span class="sticker-2">-17%</span>
                                                      <span class="sticker">New</span>
                                                  </div>
                                                  <div class="add-actions">
                                                      <ul>
                                                          <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                          </li>
                                                          <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                                          </li>
                                                          <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                                  class="ion-android-options"></i></a>
                                                          </li>
                                                          <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                                  class="ion-android-open"></i></a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                                              <div class="product-content">
                                                  <div class="product-desc_info">
                                                      <div class="rating-box">
                                                          <ul>
                                                              <li><i class="ion-android-star"></i></li>
                                                              <li><i class="ion-android-star"></i></li>
                                                              <li><i class="ion-android-star"></i></li>
                                                              <li class="silver-color"><i class="ion-android-star"></i></li>
                                                              <li class="silver-color"><i class="ion-android-star"></i></li>
                                                          </ul>
                                                      </div>
                                                      <h6><a class="product-name" href="single-product.html">Maruti Suzuki Swift</a></h6>
                                                      <div class="price-box">
                                                          <span class="new-price new-price-2">$194.00</span>
                                                          <span class="old-price">$241.00</span>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>
<!-- Uren's Product Area End Here -->
<!-- Begin Special Product Area -->
<div class="special-product_area">
   <div class="container-fluid">
     <div class="section-title_area">
       <span>Special Offer Limited Time</span>
       <h3>Deal Of The Day</h3>
     </div>
      <div class="row">
         <div class="col-lg-6">
            <div class="special-product_slider">
               <div class="slide-item">
                  <div class="inner-slide">
                     <div class="single-product">
                        <div class="product-img">
                           <a href="single-product.html">
                           <%=image_tag  "fortuner-exterior-right-front-three-quarter-19.webp", alt: "Uren's Product Image"%>
                         </a>
                           <div class="sticker-area-2">
                              <span class="sticker-2">-33%</span>
                              <span class="sticker">New</span>
                           </div>
                        </div>
                        <div class="product-content">
                           <div class="product-desc_info">
                              <div class="uren-countdown_area">
                                 <span class="product-offer">Hurry up!  Offer ends in:</span>
                                 <div class="countdown-wrap">
                                    <div class="countdown item-4" data-countdown="2020/10/01" data-format="short">
                                       <div class="countdown__item">
                                          <span class="countdown__time daysLeft"></span>
                                          <span class="countdown__text daysText"></span>
                                       </div>
                                       <div class="countdown__item">
                                          <span class="countdown__time hoursLeft"></span>
                                          <span class="countdown__text hoursText"></span>
                                       </div>
                                       <div class="countdown__item">
                                          <span class="countdown__time minsLeft"></span>
                                          <span class="countdown__text minsText"></span>
                                       </div>
                                       <div class="countdown__item">
                                          <span class="countdown__time secsLeft"></span>
                                          <span class="countdown__text secsText"></span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="rating-box">
                                 <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i></li>
                                 </ul>
                              </div>
                              <h6 class="product-name"><a href="single-product.html">Toyota Fortuner </a></h6>
                              <div class="price-box">
                                 <span class="new-price new-price-2">$98.00</span>
                                 <span class="old-price">$146.00</span>
                              </div>
                              <div class="add-actions">
                                 <ul>
                                    <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                       class="ion-bag"></i>Add To Cart</a>
                                    </li>
                                    <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion-android-open"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               </div>
            </div>
            <div class="col-lg-6">
               <div class="special-product_slider">
                  <div class="slide-item">
                     <div class="inner-slide">
                        <div class="single-product">
                           <div class="product-img">
                              <a href="single-product.html">
                                <%=image_tag  "Land-Rover-Range-Rover-Exterior-130450.webp", alt: "Uren's Product Image"%>
                              </a>
                              <div class="sticker-area-2">
                                 <span class="sticker-2">-33%</span>
                                 <span class="sticker">New</span>
                              </div>
                           </div>
                           <div class="product-content">
                              <div class="product-desc_info">
                                 <div class="uren-countdown_area">
                                    <span class="product-offer">Hurry up!  Offer ends in:</span>
                                    <div class="countdown-wrap">
                                       <div class="countdown item-4" data-countdown="2020/10/01" data-format="short">
                                          <div class="countdown__item">
                                             <span class="countdown__time daysLeft"></span>
                                             <span class="countdown__text daysText"></span>
                                          </div>
                                          <div class="countdown__item">
                                             <span class="countdown__time hoursLeft"></span>
                                             <span class="countdown__text hoursText"></span>
                                          </div>
                                          <div class="countdown__item">
                                             <span class="countdown__time minsLeft"></span>
                                             <span class="countdown__text minsText"></span>
                                          </div>
                                          <div class="countdown__item">
                                             <span class="countdown__time secsLeft"></span>
                                             <span class="countdown__text secsText"></span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="rating-box">
                                    <ul>
                                       <li><i class="ion-android-star"></i></li>
                                       <li><i class="ion-android-star"></i></li>
                                       <li><i class="ion-android-star"></i></li>
                                       <li class="silver-color"><i class="ion-android-star"></i></li>
                                       <li class="silver-color"><i class="ion-android-star"></i></li>
                                    </ul>
                                 </div>
                                 <h6 class="product-name"><a href="single-product.html">Land Rover Range Rover</a></h6>
                                 <div class="price-box">
                                    <span class="new-price new-price-2">$98.00</span>
                                    <span class="old-price">$146.00</span>
                                 </div>
                                 <div class="add-actions">
                                    <ul>
                                       <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i
                                          class="ion-bag"></i>Add To Cart</a>
                                       </li>
                                       <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                       </li>
                                       <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion-android-open"></i></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>

                  </div>
               </div>

         </div>
      </div>
   </div>
<!-- Special Product Area End Here -->
<!-- Begin Uren's Banner Three Area -->
<div class="uren-banner_area uren-banner_area-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="banner-item img-hover_effect">
               <div class="banner-img"></div>
               <div class="banner-content">
                  <span class="contact-info"><i class="ion-android-call"></i> +123 321 345</span>
                  <h4>Anytime & Anywhere </h4>
                  <h3>You are.</h3>
                  <p>Est erat faucibus purus, eget viverra nulla sem vitae
                     Quisque id sodales libero...
                  </p>
                  <a href="javascript:void(0)" class="read-more">Learn More</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Uren's Banner Three Area End Here -->
<!-- Begin Uren's Banner Two Area -->
<div class="uren-banner_area uren-banner_area-3">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="banner-item img-hover_effect">
               <a href="shop-left-sidebar.html">
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Uren's Banner Two Area End Here -->
<!-- Begin Uren's Brand Area -->
<!-- Uren's Brand Area End Here -->
<!-- Begin Uren's Blog Area -->
