<div class="breadcrumb-area">
   <div class="container">
      <div class="breadcrumb-content">
         <h2>Shop</h2>
         <ul>
            <li><a href="index.html">Home</a></li>
            <li class="active">Shop List Fullwidth</li>
         </ul>
      </div>
   </div>
</div>
<!-- Uren's Breadcrumb Area End Here -->
<!-- Begin Uren's Shop List Fullwidth Area -->
<div class="shop-content_wrapper">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="shop-toolbar">
               <div class="product-view-mode">
                  <a class="grid-1" data-target="gridview-1" data-toggle="tooltip" data-placement="top" title="1">1</a>
                  <a class="grid-2" data-target="gridview-2" data-toggle="tooltip" data-placement="top" title="2">2</a>
                  <a class="grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="3">3</a>
                  <a class="grid-4" data-target="gridview-4" data-toggle="tooltip" data-placement="top" title="4">4</a>
                  <a class="grid-5" data-target="gridview-5" data-toggle="tooltip" data-placement="top" title="5">5</a>
                  <a class="active list" data-target="listview" data-toggle="tooltip" data-placement="top" title="List"><i class="fa fa-th-list"></i></a>
               </div>
               <div class="product-item-selection_area">
                  <div class="product-short">
                     <label class="select-label"><strong>Short By:</strong></label>
                     <%= form_tag cars_path,method: :get do %>
                     <div class="row">
                        <div class="col-5">
                           <%= select_tag :order,options_for_select([["DEFAULT",''],[' high to low','high'],[' low to high','low'],['Name A to Z','a_to_z'],['Name Z to A','z_to_a']],params[:order]), class:'form-control'%>
                        </div>
                        <div class="col-4">
                           <%= select_tag :brand_id,options_for_select([['BRAND',''],['maruti','1'],['huyndi','2']],params[:brnad_id]),class:'form-control'%>
                        </div>
                        <div class="col-3 btn-group">
                           <%= submit_tag "SEARCH"%>
                        </div>
                     </div>
                     <%end%>
                     <!-- <select class="myniceselect nice-select">
                        <option value="1">Default</option>
                        <option value="2">Name, A to Z</option>
                        <option value="3">Name, Z to A</option>
                        <option value="4">Price, low to high</option>
                        <option value="5">Price, high to low</option>
                        <option value="5">Model (A - Z)</option>
                        <option value="5">Model (Z - A)</option>
                        </select> -->
                  </div>
               </div>
            </div>
            <div class="shop-product-wrap grid listview listfullwidth img-hover-effect_area row">
               <% if @cars.present? %>
               <% @cars.each do |car| %>
               <div class="col-lg-4">
                  <div class="list-slide_item">
                     <div class="single-product">
                        <div class="product-img">
                           <a href="<%= car_path(car)%>"</a>
                           <%= image_tag car.image%>
                        </div>
                        <div class="product-content">
                           <div class="product-desc_info">
                              <div class="rating-box">
                                 <ul>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li><i class="ion-android-star"></i></li>
                                    <li class="silver-color"><i class="ion-android-star"></i>
                                    </li>
                                    <li class="silver-color"><i class="ion-android-star"></i>
                                    </li>
                                 </ul>
                              </div>
                              <h6>
                                 <a class="product-name" href="<%=car_path(car)%> ">
                                 <%=car.name%> <%= car.brand.name %> <%= car.model.name %> <%= car.version.name %> <%= car.car_type.name %>
                                 </a>
                              </h6>
                              <div class="price-box">
                                 <span class="new-price">
                                    <%= car.total_price %>
                                    <td><%= car.rto_price %></td>
                                    <td><%= car.on_road_price %></td>
                                 </span>
                              </div>
                              <div class="product-short_desc">
                                 <p>The invention relates to an electromechanical brake booster with an
                                    electric motor and a helical gearing. The brake booster is used for
                                    coupling an auxiliary force via a driver into a piston rod. The
                                    invention proposes connecting a spindle of the helical gearing
                                    elastically via a spring element to the piston rod such that, in the
                                    event of rapid actuation of the brake, the helical gearing and a rotor
                                    of the electric motor do not have to be accelerated entirely muscle
                                    power. The muscle power required for actuating a brake is reduced as a
                                    result in the event of a rapid actuation of the brake.
                                 </p>
                              </div>
                           </div>
                           <div class="add-actions">
                              <ul>
                                 <li><a class="uren-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                 </li>
                                 <li><a class="uren-wishlist" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                    class="ion-android-favorite-outline"></i></a>
                                 </li>
                                 <li><a class="uren-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                    class="ion-android-options"></i></a>
                                 </li>
                                 <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                    class="ion-android-open"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <% end %>
               <% else %>
               <div class="col-sm-8 offset-sm-2 text-center">
                  <h1> Cars Not Exist </h1>
               </div>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>
<div class="">
</div>
<%= paginate @cars %>

<br>
<br>
