<header class="header-main_area bg--sapphire">
   <div class="header-top_area d-lg-block d-none">
      <div class="container-fluid">
         <div class="row">
            <div class="col-xl-7 col-lg-8">
               <div class="main-menu_area position-relative">
                  <nav class="main-nav">
                     <ul>
                        <li class="dropdown-holde r active">
                          <%= link_to t('menu.home'),root_path %>
                        </li>
                        <li class="megamenu-holder ">
                           <a href="shop-left-sidebar.html"><%=t('menu.shop')%> <i class="ion-ios-arrow-down"></i></a>
                           <ul class="hm-megamenu">
                              <li>
                                 <ul>
                                    <li><a href="<%=%>">List Fullwidth</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    </li>
                                 </ul>
                               </li>
                           </ul>
                        <li><a href="javascript:void(0)"><%=t('menu.specials')%> </a></li>
                        <li class="">
                           <a href="javascript:void(0)"><%=t('menu.pages')%>  <i class="ion-ios-arrow-down"></i></a>
                           <ul class="hm-dropdown">
                              <li><a href="my-account.html">My Account</a></li>
                              <% if user_signed_in? %>
                              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete,  class:'links' %></li>
                              <% else %>
                              <li><%= link_to 'Login', new_user_session_path, class: 'links'%></li>
                              <li><%= link_to 'Register', new_user_registration_path, class:'links'%></li>
                              <% end %>

                           </ul>
                        </li>
                        <li class=""><a href="about-us.html"><%=t('menu.about us')%> </a></li>
                        <li class="">
                          <%=link_to t('menu.contact'),contact_path%>
                        <li class="">
                           <a href="blog-left-sidebar.html"><%=t('menu.blog')%> <i class="ion-ios-arrow-down"></i></a>
                           <ul class="hm-dropdown">
                              <li>
                                 <a href="blog-left-sidebar.html">Grid View</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-2-column.html">Column Two</a></li>
                                    <li><a href="blog-3-column.html">Column Three</a></li>
                                    <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="blog-list-left-sidebar.html">List View</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-list-fullwidth.html">List Fullwidth</a></li>
                                    <li><a href="blog-list-left-sidebar.html">List Left Sidebar</a></li>
                                    <li><a href="blog-list-right-sidebar.html">List Right Sidebar</a>
                                    </li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="blog-details-left-sidebar.html">Blog Details</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-details-left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="blog-details-right-sidebar.html">Right Sidebar</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="">Blog Format</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-gallery-format.html">Gallery Format</a></li>
                                    <li><a href="blog-audio-format.html">Audio Format</a></li>
                                    <li><a href="blog-video-format.html">Video Format</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                  </nav>
               </div>
            </div>
            <div class="col-xl-5 col-lg-4">
               <div class="ht-right_area">
                  <div class="ht-menu">
                     <ul>
                        <li>
                           <a href=""><%=t('menu.currency')%><i class="fa fa-chevron-down"></i></a>
                           <ul class="ht-dropdown ht-currency">
                              <li><a href="javascript:void(0)">€ EUR</a></li>
                              <li class="active"><a href="javascript:void(0)">£ Pound Sterling</a></li>
                              <li><a href="">$ Us Dollar</a></li>
                           </ul>
                        </li>
                        <li>
                           <a href=""><%=t('menu.language')%> <i class="fa fa-chevron-down"></i></a>
                           <ul class="ht-dropdown">
                             <li><%= link_to 'Gujarati',locale: 'gu' %></li>
                             <li><%= link_to 'English', locale: 'en' %></li>
                           </ul>
                           <!-- <ul class="ht-dropdown">
                             <li>
                               <%=image_tag "1.jpg", alt: "JB's Language Icon"%><%=link_to_unless_current "English",local:'en'%></li>
                              <li>
                                <%=image_tag "2.jpg", alt: "JB's Language Icon"%><%=link_to_unless_current "Gujarat",local:'gu'%>
                              </li>
                           </ul> -->
                        </li>
                        <li>
                           <a href=""><%=t ('menu.my account')%><i class="fa fa-chevron-down"></i></a>
                           <ul class="ht-dropdown ht-my_account">
                             <% if user_signed_in? %>
                             <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete,  class:'links' %></li>
                             <% else %>
                             <li><%= link_to t('menu.login'), new_user_session_path, class: 'links'%></li>
                             <li><%= link_to 'Register', new_user_registration_path, class:'links'%></li>
                             <% end %>
                           </ul>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header-top_area header-sticky bg--sapphire">
      <div class="container-fluid">
         <div class="row">
            <div class="col-xl-8 col-lg-7 d-lg-block d-none">
               <div class="main-menu_area position-relative">
                  <nav class="main-nav">
                     <ul>
                        <li class="dropdown-holder active">
                           <a href="index.html">Home</a>
                           <ul class="hm-dropdown">
                              <li><a href="index.html">Home One</a></li>
                              <li><a href="index-2.html">Home Two</a></li>
                              <li><a href="index-3.html">Home Three</a></li>
                           </ul>
                        </li>
                        <li class="megamenu-holder ">
                           <a href="shop-left-sidebar.html">Shop <i
                              class="ion-ios-arrow-down"></i></a>
                           <ul class="hm-megamenu">
                              <li>
                                 <span class="megamenu-title">Shop Page Layout</span>
                                 <ul>
                                    <li><a href="shop-grid-fullwidth.html">Grid Fullwidth</a></li>
                                    <li><a href="shop-left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="shop-right-sidebar.html">Right Sidebar</a></li>
                                    <li><a href="shop-list-fullwidth.html">List Fullwidth</a></li>
                                    <li><a href="shop-list-left-sidebar.html">List Left Sidebar</a>
                                    </li>
                                    <li><a href="shop-list-right-sidebar.html">List Right
                                       Sidebar</a>
                                    </li>
                                 </ul>
                              </li>
                              <li>
                                 <span class="megamenu-title">Single Product Style</span>
                                 <ul>
                                    <li><a href="single-product-gallery-left.html">Gallery Left</a>
                                    </li>
                                    <li><a href="single-product-gallery-right.html">Gallery
                                       Right</a>
                                    </li>
                                    <li><a href="single-product-tab-style-left.html">Tab Style
                                       Left</a>
                                    </li>
                                    <li><a href="single-product-tab-style-right.html">Tab Style
                                       Right</a>
                                    </li>
                                    <li><a href="single-product-sticky-left.html">Sticky Left</a>
                                    </li>
                                    <li><a href="single-product-sticky-right.html">Sticky Right</a>
                                    </li>
                                 </ul>
                              </li>
                              <li>
                                 <span class="megamenu-title">Single Product Type</span>
                                 <ul>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="single-product-sale.html">Single Product Sale</a>
                                    </li>
                                    <li><a href="single-product-group.html">Single Product Group</a>
                                    </li>
                                    <li><a href="single-product-variable.html">Single Product
                                       Variable</a>
                                    </li>
                                    <li><a href="single-product-affiliate.html">Single Product
                                       Affiliate</a>
                                    </li>
                                    <li><a href="single-product-slider.html">Single Product
                                       Slider</a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li><a href="javascript:void(0)">Specials</a></li>
                        <li class="">
                           <a href="javascript:void(0)">Pages <i
                              class="ion-ios-arrow-down"></i></a>
                           <ul class="hm-dropdown">
                              <li><a href="my-account.html">My Account</a></li>
                              <li><a href="login-register.html">Login | Register</a></li>
                              <li><a href="wishlist.html">Wishlist</a></li>
                              <li><a href="cart.html">Cart</a></li>
                              <li><a href="checkout.html">Checkout</a></li>
                              <li><a href="compare.html">Compare</a></li>
                              <li><a href="faq.html">FAQ</a></li>
                              <li><a href="404.html">404 Error</a></li>
                           </ul>
                        </li>
                        <li class=""><a href="about-us.html">About Us</a></li>
                        <li class=""><a href="contact.html">Contact</a></li>
                        <li class="">
                           <a href="blog-left-sidebar.html">Blog <i
                              class="ion-ios-arrow-down"></i></a>
                           <ul class="hm-dropdown">
                              <li>
                                 <a href="blog-left-sidebar.html">Grid View</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-2-column.html">Column Two</a></li>
                                    <li><a href="blog-3-column.html">Column Three</a></li>
                                    <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="blog-list-left-sidebar.html">List View</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-list-fullwidth.html">List Fullwidth</a></li>
                                    <li><a href="blog-list-left-sidebar.html">List Left Sidebar</a>
                                    </li>
                                    <li><a href="blog-list-right-sidebar.html">List Right
                                       Sidebar</a>
                                    </li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="blog-details-left-sidebar.html">Blog Details</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-details-left-sidebar.html">Left Sidebar</a>
                                    </li>
                                    <li><a href="blog-details-right-sidebar.html">Right Sidebar</a>
                                    </li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="blog-gallery-format.html">Blog Format</a>
                                 <ul class="hm-dropdown hm-sub_dropdown">
                                    <li><a href="blog-gallery-format.html">Gallery Format</a></li>
                                    <li><a href="blog-audio-format.html">Audio Format</a></li>
                                    <li><a href="blog-video-format.html">Video Format</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
            <div class="col-sm-3 d-block d-lg-none">
               <div class="header-logo_area header-sticky_logo">
                  <a href="index.html">
                    <%=image_tag "l1.png",alt: "Uren's Logo"%>
                  </a>
               </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-sm-9">
               <div class="header-right_area">
                  <ul>
                     <li class="mobile-menu_wrap d-flex d-lg-none">
                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                        <i class="ion-navicon"></i>
                        </a>
                     </li>
                     <li class="minicart-wrap">
                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                           <div class="minicart-count_area">
                              <span class="item-count">3</span>
                              <i class="ion-bag"></i>
                           </div>
                           <div class="minicart-front_text">
                              <span>Cart:</span>
                              <span class="total-price">462.4</span>
                           </div>
                        </a>
                     </li>
                     <li class="contact-us_wrap">
                        <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="header-middle_area">
      <div class="container-fluid">
         <div class="row">
            <div class="custom-logo_col col-12">
               <div class="header-logo_area">
                  <a href="index.html">
                  <%= image_tag "l1.png", alt: "Uren's Logo"%>
                  </a>
               </div>
            </div>

            <div class="custom-search_col col-12">
               <div class="hm-form_area">
                 <%= form_tag(cars_path, method: :get) do %>
                  <div class="hm-searchbox">
                      <%= text_field_tag(:name, params[:name] ,class: "btn-group form-control", placeholder: "Enter your search key ...") %>
                      <%= submit_tag "Search", class:"header-search_btn" %>
                  <% end %>
               </div>
         </div>
            </div>
            <div class="custom-cart_col col-12">
               <div class="header-right_area">
                  <ul>
                     <li class="mobile-menu_wrap d-flex d-lg-none">
                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                        <i class="ion-navicon"></i>
                        </a>
                     </li>
                     <li class="minicart-wrap">
                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                           <div class="minicart-count_area">
                              <span class="item-count">3</span>
                              <i class="ion-bag"></i>
                           </div>
                           <div class="minicart-front_text">
                              <span>Cart:</span>
                              <span class="total-price">462.4</span>
                           </div>
                        </a>
                     </li>
                     <li class="contact-us_wrap">
                        <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="offcanvas-minicart_wrapper" id="miniCart">
      <div class="offcanvas-menu-inner">
         <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
         <div class="minicart-content">
            <div class="minicart-heading">
               <h4>Shopping Cart</h4>
            </div>
            <ul class="minicart-list">
               <li class="minicart-product">
                  <a class="product-item_remove" href="javascript:void(0)"><i
                     class="ion-android-close"></i></a>
                  <div class="product-item_img">
                  </div>
                  <div class="product-item_content">
                     <a class="product-item_title" href="shop-left-sidebar.html">Autem ipsa ad</a>
                     <span class="product-item_quantity">1 x $145.80</span>
                  </div>
               </li>
               <li class="minicart-product">
                  <a class="product-item_remove" href="javascript:void(0)"><i
                     class="ion-android-close"></i></a>
                  <div class="product-item_img">
                  </div>
                  <div class="product-item_content">
                     <a class="product-item_title" href="shop-left-sidebar.html">Tenetur illum amet</a>
                     <span class="product-item_quantity">1 x $150.80</span>
                  </div>
               </li>
               <li class="minicart-product">
                  <a class="product-item_remove" href="javascript:void(0)"><i
                     class="ion-android-close"></i></a>
                  <div class="product-item_img">
                  </div>
                  <div class="product-item_content">
                     <a class="product-item_title" href="shop-left-sidebar.html">Non doloremque placeat</a>
                     <span class="product-item_quantity">1 x $165.80</span>
                  </div>
               </li>
            </ul>
         </div>
         <div class="minicart-item_total">
            <span>Subtotal</span>
            <span class="ammount">$462.4‬0</span>
         </div>
         <div class="minicart-btn_area">
            <a href="cart.html" class="uren-btn uren-btn_dark uren-btn_fullwidth">Minicart</a>
         </div>
         <div class="minicart-btn_area">
            <a href="checkout.html" class="uren-btn uren-btn_dark uren-btn_fullwidth">Checkout</a>
         </div>
      </div>
   </div>
   <div class="mobile-menu_wrapper" id="mobileMenu">
      <div class="offcanvas-menu-inner">
         <div class="container">
            <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
            <div class="offcanvas-inner_search">
               <form action="#" class="inner-searchbox">
                  <input type="text" placeholder="Search for item...">
                  <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
               </form>
            </div>
            <nav class="offcanvas-navigation">
               <ul class="mobile-menu">
                  <li class="menu-item-has-children active">
                     <a href="index.html"><span
                        class="mm-text">Home</span></a>
                     <ul class="sub-menu">
                        <li>
                           <a href="index.html">
                           <span class="mm-text">Home One</span>
                           </a>
                        </li>
                        <li>
                           <a href="index-2.html">
                           <span class="mm-text">Home Two</span>
                           </a>
                        </li>
                        <li>
                           <a href="index-3.html">
                           <span class="mm-text">Home Three</span>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-item-has-children">
                     <a href="shop-left-sidebar.html">
                     <span class="mm-text">Shop</span>
                     </a>
                     <ul class="sub-menu">
                        <li class="menu-item-has-children">
                           <a href="shop-left-sidebar.html">
                           <span class="mm-text">Grid View</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="shop-grid-fullwidth.html">
                                 <span class="mm-text">Column Three</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="shop-4-column.html">
                                 <span class="mm-text">Column Four</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="shop-left-sidebar.html">
                                 <span class="mm-text">Left Sidebar</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="shop-right-sidebar.html">
                                 <span class="mm-text">Right Sidebar</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item-has-children">
                           <a href="shop-list-left-sidebar.html">
                           <span class="mm-text">Shop List</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="shop-list-fullwidth.html">
                                 <span class="mm-text">Full Width</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="shop-list-left-sidebar.html">
                                 <span class="mm-text">Left Sidebar</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="shop-list-right-sidebar.html">
                                 <span class="mm-text">Right Sidebar</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item-has-children">
                           <a href="single-product-gallery-left.html">
                           <span class="mm-text">Single Product Style</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="single-product-gallery-left.html">
                                 <span class="mm-text">Gallery Left</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-gallery-right.html">
                                 <span class="mm-text">Gallery Right</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-tab-style-left.html">
                                 <span class="mm-text">Tab Style Left</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-tab-style-right.html">
                                 <span class="mm-text">Tab Style Right</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-sticky-left.html">
                                 <span class="mm-text">Sticky Left</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-sticky-right.html">
                                 <span class="mm-text">Sticky Right</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item-has-children">
                           <a href="single-product.html">
                           <span class="mm-text">Single Product Type</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="single-product.html">
                                 <span class="mm-text">Single Product</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-sale.html">
                                 <span class="mm-text">Single Product Sale</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-group.html">
                                 <span class="mm-text">Single Product Group</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-variable.html">
                                 <span class="mm-text">Single Product Variable</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-affiliate.html">
                                 <span class="mm-text">Single Product Affiliate</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="single-product-slider.html">
                                 <span class="mm-text">Single Product Slider</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-item-has-children">
                     <a href="blog-left-sidebar.html">
                     <span class="mm-text">Blog</span>
                     </a>
                     <ul class="sub-menu">
                        <li class="menu-item-has-children has-children">
                           <a href="blog-left-sidebar.html">
                           <span class="mm-text">Grid View</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="blog-2-column.html">
                                 <span class="mm-text">Column Two</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-3-column.html">
                                 <span class="mm-text">Column Three</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-left-sidebar.html">
                                 <span class="mm-text">Left Sidebar</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-right-sidebar.html">
                                 <span class="mm-text">Right Sidebar</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item-has-children has-children">
                           <a href="blog-list-left-sidebar.html">
                           <span class="mm-text">List View</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="blog-list-fullwidth.html">
                                 <span class="mm-text">List Fullwidth</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-list-left-sidebar.html">
                                 <span class="mm-text">List Left Sidebar</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-list-right-sidebar.html">
                                 <span class="mm-text">List Right Sidebar</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item-has-children has-children">
                           <a href="blog-details-left-sidebar.html">
                           <span class="mm-text">Blog Details</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="blog-details-left-sidebar.html">
                                 <span class="mm-text">Left Sidebar</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-details-right-sidebar.html">
                                 <span class="mm-text">Right Sidebar</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                        <li class="menu-item-has-children has-children">
                           <a href="blog-gallery-format.html">
                           <span class="mm-text">Blog Format</span>
                           </a>
                           <ul class="sub-menu">
                              <li>
                                 <a href="blog-gallery-format.html">
                                 <span class="mm-text">Gallery Format</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-audio-format.html">
                                 <span class="mm-text">Audio Format</span>
                                 </a>
                              </li>
                              <li>
                                 <a href="blog-video-format.html">
                                 <span class="mm-text">Video Format</span>
                                 </a>
                              </li>
                           </ul>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-item-has-children">
                     <a href="index.html">
                     <span class="mm-text">Pages</span>
                     </a>
                     <ul class="sub-menu">
                        <li>
                           <a href="my-account.html">
                           <span class="mm-text">My Account</span>
                           </a>
                        </li>
                        <li>
                           <a href="login-register.html">
                           <span class="mm-text">Login | Register</span>
                           </a>
                        </li>
                        <li>
                           <a href="wishlist.html">
                           <span class="mm-text">Wishlist</span>
                           </a>
                        </li>
                        <li>
                           <a href="cart.html">
                           <span class="mm-text">Cart</span>
                           </a>
                        </li>
                        <li>
                           <a href="checkout.html">
                           <span class="mm-text">Checkout</span>
                           </a>
                        </li>
                        <li>
                           <a href="compare.html">
                           <span class="mm-text">Compare</span>
                           </a>
                        </li>
                        <li>
                           <a href="faq.html">
                           <span class="mm-text">FAQ</span>
                           </a>
                        </li>
                        <li>
                           <a href="404.html">
                           <span class="mm-text">Error 404</span>
                           </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </nav>
            <nav class="offcanvas-navigation user-setting_area">
               <ul class="mobile-menu">
                  <li class="menu-item-has-children active">
                     <a href="javascript:void(0)"><span
                        class="mm-text">User
                     Setting</span></a>
                     <ul class="sub-menu">
                        <li>
                           <a href="my-account.html">
                           <span class="mm-text">My Account</span>
                           </a>
                        </li>
                        <li>
                           <a href="login-register.html">
                           <span class="mm-text">Login | Register</span>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-item-has-children">
                     <a href="javascript:void(0)"><span
                        class="mm-text">Currency</span></a>
                     <ul class="sub-menu">
                        <li>
                           <a href="javascript:void(0)">
                           <span class="mm-text">EUR €</span>
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)">
                           <span class="mm-text">USD $</span>
                           </a>
                        </li>
                     </ul>
                  </li>
                  <li class="menu-item-has-children">
                     <a href="javascript:void(0)"><span
                        class="mm-text">Language</span></a>
                     <ul class="sub-menu">
                        <li>
                           <a href="javascript:void(0)">
                           <span class="mm-text">English</span>
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)">
                           <span class="mm-text">Français</span>
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)">
                           <span class="mm-text">Romanian</span>
                           </a>
                        </li>
                        <li>
                           <a href="javascript:void(0)">
                           <span class="mm-text">Japanese</span>
                           </a>
                        </li>
                     </ul>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</header>
